@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");
@import url('@fortawesome/fontawesome-free/css/all.min.css');

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.hero-section {
  padding: 100px 0;
}

.hero-image-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-55%);
  max-width: 50%;
}

.hero-image {
  max-width: 100%;
  /* height: auto; */
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;

  font-family: 'Roboto Medium';
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-section .btn-primary {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #111B47 !important; 
  color: white !important; 
  border: 2px solid #111B47 !important; 
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

.hero-section .btn-secondary {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: transparent !important; 
  color: #111B47 !important; 
  border: 2px solid #111B47 !important; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.features-section .btn-primary {
  padding: 0; /* Remove all padding */
  margin-right: 10px;
  border-radius: 2px;
  height: 32px;
  width: 200px;
  background-color: #111B47 !important;
  color: white !important;
  border: 2px solid #111B47 !important;
  display: flexbox; 
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  line-height: 1;
  text-align: center; /* Additional text centering */
}

/* This will apply to all primary buttons */
.btn-primary.purchase-btn {
  padding: 0;
  margin-right: 10px;
  border-radius: 2px;
  height: 32px;
  width: 200px;
  background-color: #111B47 !important;
  color: white !important;
  border: 2px solid #111B47 !important;
  display: flexbox;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

/* footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
} */

.footer-section {
  background-color: #F4F6FC;
  font-size: 0.9rem;
}

.footer-section .nav-link {
  padding: 0 10px;
}

.footer-section .social-icons i {
  font-size: 18px;
  color: #9E9E9E;
  cursor: pointer;
}

.footer-section .btn-primary {
  padding: 0;
  border-radius: 2px;
  height: 32px;
  width: 200px;
  background-color: #111B47 !important;
  color: white !important;
  border: 2px solid #111B47 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}